
*.vsidx

.vs/Quickstart/v17/.suo

src/IdentityServer/obj/

src/IdentityServer/bin/

src/IdentityServer/tempkey.jwk

.vs/Quickstart/config/applicationhost.config

Api/obj/

Api/bin/

.vs/

client/obj/

client/bin/Debug/
